body{
    padding: 0 15%;
    font-family: Montserrat, sans-serif;
    line-height: 1.3em;
    background-color: #c2cae8;
}
h1, h2, h3{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: #111d4a;
}
h1{
    size: 32px;
}
.table, th, td{
    border: 1px solid black;
    background-color: #cce2a3;
}
.table-caption{
    margin-bottom: 0.5em;
}
th, td{
    padding: 0.5em;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: #8380b6;
}
figcaption{
    font-family: Montserrat, italic, cursive;
}
figure{
    float: right;
}
